######################################
## Debug                           ##
######################################

tmp 
tweets.sqlite
results.csv

######################################
## Config                           ##
######################################

auth.json

######################################
## Sentistrength                    ##
######################################

sentistrength

######################################
## Enviroment: Node.js              ##
######################################

logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
.lock-wscript
node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
*.tgz
.env

######################################
## Editor: Sublime                  ##
######################################

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
GitHub.sublime-settings

######################################
## OS: Linux                        ##
######################################

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

######################################
## OS: Mac                          ##
######################################

*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

######################################
## OS: Windows                      ##
######################################

Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk